<?xml version="1.0" encoding="utf-8"?>
<!-- Read by ConfigurationFileFixture: proves the proxy applies the configuration file of the test assembly. -->
<configuration>
  <appSettings>
    <add key="ConfigurationFileFixture.Value" value="FROM TEST ASSEMBLY CONFIGURATION FILE" />
  </appSettings>
</configuration>
